<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" size="large" (click)="voltar()"></ion-icon>
    <ion-title>CALENDARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <b>EXEMPLO 1</b>
  <ion-list (click)="modalCalendarioComDataInicial()">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Modal calendario folha</ion-label>        
          <ion-input labelPlacement="stacked" [(ngModel)]="dataCalendarioFolhaComInicioFormatada" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <span style="font-size: 75%;"><b>COM</b> valor inicial</span>
  </ion-list>

  <b>EXEMPLO 2</b>
  <ion-list (click)="modalCalendarioSemDataInicial()">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Modal calendario folha</ion-label>        
          <ion-input labelPlacement="stacked" [(ngModel)]="dataCalendarioFolhaSemInicioFormatada" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <span style="font-size: 75%;"><b>SEM</b> valor inicial</span>
  </ion-list>

  <b>EXEMPLO 3</b>
  <ion-list (click)="modalCalendarioSemHora()">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block">MODAL SEM HORA</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <b>EXEMPLO 4</b>
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="modalCalendarioWheel(false)">WHEEL</ion-button>
        <span style="font-size: 75%;"><b>SEM</b> hora</span>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="modalCalendarioWheel(true)">WHEEL</ion-button>
        <span style="font-size: 75%;"><b>COM</b> hora</span>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="modalCalendarioWheelSomenteAno()"><b>SÓ</b> ANO</ion-button>
        <span style="font-size: 75%;">{{retornoAno}}</span>
      </ion-col>      
    </ion-row>
  </ion-list>


  <b>EXEMPLO 5</b>
  <ion-list>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="modalCalendarioWheel5()">{{dataCalendarioDataTruncada5}}</ion-button>
      </ion-col>
      <ion-col size="6" (click)="modalCalendarioWheelHora()">
        <ion-button expand="block">{{dataCalendarioHora5}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
