<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" size="large" (click)="voltar()"></ion-icon>
    <ion-title>MODAL</ion-title>
    <ion-button slot="end" (click)="salvar()">OK</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-datetime 
    #datetime1 
    displayFormat="DD.MM.YYYY"
    presentation="{{presentation}}"
    [value]="data1" 
    (ionChange)="selecionado(datetime1.value)"
    (ionCancel)="voltar()" 
    [preferWheel]="true"
    [showDefaultButtons]="true"
    (ionBlur)="selecionado(datetime1.value)"
  >
    <span slot="time-label">Hora</span>
  </ion-datetime>
</ion-content>