ion-col {
    text-align: center;
}
ion-col > div{ 
    background:rgb(202, 85, 85) ; 
    text-align: center;
    border-radius: 10px;
    padding:10%;
    margin: 0 15%;
    font-size: 300%;
    color:white;
}
.title { color:rgb(202, 85, 85) ;  ; font-weight: bold; }