<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" size="large" (click)="voltar()"></ion-icon>
    <ion-title>MODAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input label="Default label" placeholder="Enter text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>TESTE</ion-label>
      <ion-input label="Fixed label" labelPlacement="fixed" placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-list>

  <b>EXEMPLO 1</b>
  <ion-row>
    <ion-col size="12">
      <ion-button id="open-modal-exemplo1" expand="block">{{dataChegada}}</ion-button>
    </ion-col>
  </ion-row>

  <b>EXEMPLO 2</b>
  <ion-row>
    <ion-col size="12">
      <ion-button id="open-modal-data-saida" expand="block">{{dataSaida}}</ion-button>
    </ion-col>
  </ion-row>


  <ion-modal trigger="open-modal-exemplo1" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-content>
        <ion-datetime [showDefaultButtons]="true" [(ngModel)]="dataChegada"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal class="datetime-modal" trigger="open-modal-data-saida" [initialBreakpoint]="0.4" (willDismiss)="onWillDismiss($event)" mode="md">
    <ng-template>
<!--       
      <ion-header>
        <ion-toolbar>
          <ion-button slot="end" (click)="datetime.cancel()">cancelar</ion-button>
          <ion-button slot="end" (click)="datetime.confirm()">OK</ion-button>
        </ion-toolbar>
      </ion-header>       
      -->
      <ion-content>
        <ion-datetime 
          #datetime
          (ionCancel)="dataSaida = null"
          [preferWheel]="true"
          [(ngModel)]="dataSaida"
          [showDefaultButtons]="true"
          doneText="OK" 
          cancelText="cancelar"
          presentation="date-time"
          displayFormat="DD-MMM-YY HH:mm"
        >
      </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>  

  <ion-button expand="block" (click)="teste()" color="danger">TESTE</ion-button>
</ion-content>


