<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" size="large" (click)="voltar()"></ion-icon>
    <ion-title>FORM. SWIPER</ion-title>
    <ion-icon name="checkmark-sharp" slot="end" size="large" (click)="salvar()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <swiper #swiper [config]="config" (slideChange)="swiperSlideChanged($event)" >
    <ng-template swiperSlide>
      <h1>FORM 1</h1>
      <form [formGroup]="form1">
        <ion-list>
          <ion-item>
            <ion-input label="Nome completo" labelPlacement="stacked" [(ngModel)]="boletim.nome" name="nome" formControlName="nome" required></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form1.get('nome')?.errors">
            <p [innerHTML]="displayMessage['nome']"></p>
          </ion-label>
        </ion-list>
    
        <ion-list>
          <ion-item>
            <ion-input label="CPF" labelPlacement="stacked" [(ngModel)]="boletim.cpf"  name="cpf" formControlName="cpf" (change)="teste()"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form1.get('cpf')?.errors">
            <p [innerHTML]="displayMessage['cpf']"></p>
          </ion-label>
          <ion-label class="menssagem-erro" *ngIf="form1.get('cpf')?.errors?.['validarCPF']">
            <p>CPF inválido</p>
          </ion-label>
        </ion-list>    
    
        <ion-list>
          <ion-item>
            <ion-input label="Email" labelPlacement="stacked" [(ngModel)]="boletim.email" name="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form1.get('email')?.errors">
            <p [innerHTML]="displayMessage['email']"></p>
          </ion-label>   
        </ion-list>      
        
        <ion-list>
          <ion-item>
            <ion-input label="Idade" labelPlacement="stacked" [(ngModel)]="boletim.idade" name="idade" formControlName="idade"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form1.get('idade')?.errors">
            <p [innerHTML]="displayMessage['idade']"></p>
          </ion-label>   
        </ion-list>  
    
        <ion-list>
          <ion-item>
            <ion-input label="Observação" labelPlacement="stacked" [(ngModel)]="boletim.observacao" name="observacao" formControlName="observacao"></ion-input>
          </ion-item>
        </ion-list>        
    
        <div class="form-group">
          <div class="col-md-12">
            <p>CPF 1 {{ form1.controls['cpf'] }}</p>
            <p>CPF 2 {{ form1.get('cpf')?.errors?.['validarCPF'] }}</p>
            <p>formulario VALIDO {{ form1.valid }}</p>
            <p>formulario TOCADO {{ form1.touched }}</p>
            <p>formulario SUJO {{ form1.dirty }}</p>
          </div>
        </div>   
      </form>
    </ng-template>
    
    
    <!-- FORM 2 -->
    <ng-template swiperSlide>
      <h1>FORM 2</h1>      

      <form [formGroup]="form2">
        <ion-list>
          <ion-item>
            <ion-input label="Nome completo" labelPlacement="stacked" [(ngModel)]="boletim.esposaNome" name="esposaNome" formControlName="esposaNome"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form2.get('esposaNome')?.errors">
            <p [innerHTML]="displayMessage['esposaNome']"></p>
          </ion-label>
        </ion-list>
    
        <ion-list>
          <ion-item>
            <ion-input label="Documento" labelPlacement="stacked" [(ngModel)]="boletim.esposaDocumento" name="esposaDocumento" formControlName="esposaDocumento"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form2.get('esposaDocumento')?.errors">
            <p [innerHTML]="displayMessage['esposaDocumento']"></p>
          </ion-label>          
        </ion-list>    
    
        <ion-list>
          <ion-item>
            <ion-input label="Email" labelPlacement="stacked" name="esposaEmail" [(ngModel)]="boletim.esposaEmail" formControlName="esposaEmail"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form2.get('esposaEmail')?.errors">
            <p [innerHTML]="displayMessage['esposaEmail']"></p>
          </ion-label>   
        </ion-list>      
        
        <ion-list>
          <ion-item>
            <ion-input label="Idade" labelPlacement="stacked" [(ngModel)]="boletim.esposaIdade"  name="esposaIdade" formControlName="esposaIdade"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form2.get('esposaIdade')?.errors">
            <p [innerHTML]="displayMessage['esposaIdade']"></p>
          </ion-label>   
        </ion-list>  
    
        <ion-list>
          <ion-item>
            <ion-input label="Observação" labelPlacement="stacked" [(ngModel)]="boletim.esposaObservacao" name="esposaObservacao" formControlName="esposaObservacao"></ion-input>
          </ion-item>
        </ion-list>        
    
        <div class="form-group">
          <div class="col-md-12">
            <p>formulario VALIDO {{ form2.valid }}</p>
            <p>formulario TOCADO {{ form2.touched }}</p>
            <p>formulario SUJO {{ form2.dirty }}</p>
          </div>
        </div>   
      </form>      

    </ng-template>

    <!-- FORM 3 -->
    <ng-template swiperSlide>
      <h1>FORM 3</h1>
      <form [formGroup]="form3">
        <ion-list>
          <ion-item>
            <ion-input label="Nome completo" labelPlacement="stacked" [(ngModel)]="boletim.filhaNome" name="filhaNome" formControlName="filhaNome"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form3.get('filhaNome')?.errors">
            <p [innerHTML]="displayMessage['filhaNome']"></p>
          </ion-label>
        </ion-list>
    
        <ion-list>
          <ion-item>
            <ion-input label="Documento" labelPlacement="stacked" [(ngModel)]="boletim.filhaDocumento" name="filhaDocumento" formControlName="filhaDocumento"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form3.get('filhaDocumento')?.errors">
            <p [innerHTML]="displayMessage['filhaDocumento']"></p>
          </ion-label>          
        </ion-list>    
    
        <ion-list>
          <ion-item>
            <ion-input label="Email" labelPlacement="stacked" [(ngModel)]="boletim.filhaEmail" name="filhaEmail" formControlName="filhaEmail"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form3.get('filhaEmail')?.errors">
            <p [innerHTML]="displayMessage['filhaEmail']"></p>
          </ion-label>   
        </ion-list>      
        
        <ion-list>
          <ion-item>
            <ion-input label="Idade" labelPlacement="stacked" [(ngModel)]="boletim.filhaIdade" name="filhaIdade" formControlName="filhaIdade"></ion-input>
          </ion-item>
          <ion-label class="menssagem-erro" *ngIf="form3.get('filhaIdade')?.errors">
            <p [innerHTML]="displayMessage['filhaIdade']"></p>
          </ion-label>   
        </ion-list>  
    
        <ion-list>
          <ion-item>
            <ion-input label="Observação" labelPlacement="stacked" [(ngModel)]="boletim.filhaObservacao" name="filhaObservacao" formControlName="filhaObservacao"></ion-input>
          </ion-item>
        </ion-list>        
    
        <div class="form-group">
          <div class="col-md-12">
            <p>formulario VALIDO {{ form3.valid }}</p>
            <p>formulario TOCADO {{ form3.touched }}</p>
            <p>formulario SUJO {{ form3.dirty }}</p>
          </div>
        </div>   
      </form>            
    </ng-template>
 
    <!-- FORM 4 -->
    <ng-template swiperSlide>
      <h1>FORM 4</h1>
      <form [formGroup]="form4">
        <ion-list>
          <ion-button expand="block" [color]="botaoEsporte.cor" (click)="abrirModalGenericoNovo({
            'numero': 1, 
            'botao': botaoEsporte, 
            'flagSomenteVisualizar': false,
            'formulario':{ 
              'form': form4,
              'name':'esportes', 
              'controller': form4.controls['esportes'],
            }})" >
            <ion-icon [name]="botaoEsporte.icone"></ion-icon> {{botaoEsporte.label}}
          </ion-button> 
          <!-- <ion-input [(ngModel)]="boletim.esportes" name="esportes" formControlName="esportes"></ion-input> -->
          <ion-label class="menssagem-erro" *ngIf="form4.get('esportes')?.errors">
            <p [innerHTML]="displayMessage['esportes']"></p>
          </ion-label>          
        </ion-list>

        <ion-list>
          <ion-button expand="block" [color]="botaoBanco.cor" (click)="abrirModalGenericoNovo({
            'numero': 2, 
            'botao': botaoBanco, 
            'flagSomenteVisualizar': false,
            'formulario':{ 
              'form': form4,
              'name':'bancos', 
              'controller': form4.controls['bancos'],
            }})" >
            <ion-icon [name]="botaoBanco.icone"></ion-icon> {{botaoBanco.label}}
          </ion-button> 
          <!-- <ion-input [(ngModel)]="boletim.bancos" name="bancos" formControlName="bancos"></ion-input> -->
          <ion-label class="menssagem-erro" *ngIf="form4.get('bancos')?.errors">
            <p [innerHTML]="displayMessage['bancos']"></p>
          </ion-label>          
        </ion-list>

        <ion-list>
          <ion-button expand="block" [color]="botaoDocumento.cor" 
            (click)="abrirModalGenericoNovo({
              'numero': 3, 
              'botao': botaoDocumento, 
              'flagSomenteVisualizar': false,
              'formulario':{ 
                'form': form4,
                'name':'documentos', 
                'controller': form4.controls['documentos'],
              }})" >
            <ion-icon [name]="botaoDocumento.icone"></ion-icon> {{botaoDocumento.label}}
          </ion-button> 
          <!-- <ion-input [(ngModel)]="boletim.documentos" name="documentos" formControlName="documentos"></ion-input> -->
        </ion-list>

        <!--     
        <app-botao-modal-lista 
          valor="teste" 
          [color]="bancoCor" 
          [icone]="bancoIcone" 
          [label]="bancoLabel" 
        ></app-botao-modal-lista>
        
        <ion-button block class="{{this.agressorAmeacasBotao.estilo}}" 
          (click)="abrirModalGenerico( {'numero': 1, 'botao': this.agressorAmeacasBotao, 'flagSomenteVisualizar': this.flagSomenteVisualizar } )"
          [ngModelOptions]="{standalone: true}">
          <ion-icon name="{{this.agressorAmeacasBotao.icone}}"></ion-icon>
          &nbsp; {{this.agressorAmeacasBotao.label}}
        </ion-button> 
        -->

        <ion-list>
          <ion-item>
            <ion-input label="Resumo" labelPlacement="stacked" [(ngModel)]="boletim.resumo" name="resumo" formControlName="resumo"></ion-input>
          </ion-item>
        </ion-list>        

        <div class="form-group">
          <div class="col-md-12">
            <p>formulario VALIDO {{ form4.valid }}</p>
            <p>formulario TOCADO {{ form4.touched }}</p>
            <p>formulario SUJO {{ form4.dirty }}</p>
          </div>
        </div>   
      </form>
    </ng-template>

    <!-- FORM 5 -->
    <ng-template swiperSlide>
      <h1>FORM 5</h1>
      <form [formGroup]="form5">
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="stacked" [(ngModel)]="boletim.historico" name="historico" formControlName="historico" ></ion-input>
          </ion-item>
        </ion-list>     

        <div class="form-group">
          <div class="col-md-12">
            <p>formulario VALIDO {{ form5.valid }}</p>
            <p>formulario TOCADO {{ form5.touched }}</p>
            <p>formulario SUJO {{ form5.dirty }}</p>
          </div>
        </div>         
      </form>
    </ng-template>

  </swiper>
</ion-content>
